{% extends 'base.html' %}

{% block content %}

<div id="notification-container" class="fixed bottom-4 right-4 space-y-2 z-50">
    {% for message in get_flashed_messages() %}
        {% if 'exitoso' in message.lower() %}
            <div role="alert" class="alert alert-success animate-fade-out">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{ message }}</span>
            </div>
        {% else %}
            <div role="alert" class="alert alert-error animate-fade-out">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span>{{ message }}</span>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% if current_user.is_authenticated %}
<div>
    <div>Hello {{ current_user.username }}!!</div>
</div>
{% else %}
<div>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }}
            {{ form.email(class="input input-bordered w-full max-w-xs") }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password(class="input input-bordered w-full max-w-xs") }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endif %}
{% endblock %}