{% extends 'base.html' %}

{% block content %}

<div class="flex flex-col mx-24">
<h1 class="text-3xl font-bold font-RobotoMono py-7 text-center">{{course.title.upper()}}</h1>
<div class="flex flex-col items-center space-x-4 lg:flex-row-reverse">
<img src="{{ url_for('static', filename='images/' ~ course.image_url) }}" class="w-full mx-auto">
<div class="flex-2 text-lg" style="white-space: pre-line;">
  {{ course.description }}
</div>
<img/>
</div>

<h2 class="text-3xl font-bold font-RobotoMono py-7">CONTENIDO</h2>

<div class="overflow-x-auto">
    <table class="table table-zebra text-base">
      <!-- head -->
      <thead>
        <tr class="font-RobotoMono text-base">
          <th>CATEGORÍA</th>
          <th>RETO</th>
          <th>PUNTOS</th>
        </tr>
      </thead>
      <tbody>
        <!-- challenges rows -->
        {% for challenge in course.challenges|sort(attribute='points') %}
        <tr>
          <td>{{ challenge.category }}</td>
          <td class="hover:text-accent"><a href="/challenges/{{ challenge.alias }}">{{ challenge.title }}</a></td>
          <td>{{ challenge.points }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}